@import "tailwindcss";

html,
body {
  height: 100%;
  overscroll-behavior: none;
  font-family:
    system-ui,
    -apple-system,
    "Hiragino Sans",
    "Hiragino Kaku Gothic ProN",
    "Noto Sans JP",
    Meiryo,
    sans-serif;
}
